<!DOCTYPE html>	
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap" rel="stylesheet">
	</head>
	<body>
			<div id="h1">
				<div id="soleil"></div>
				<center><h1 class="main-title">Enercoop: Un fournisseur 100% &eacute;nergies renouvelables</h1></center>
				<div id="vent"></div>
			</div>
			<div id="milieu">
				<div id="temoignages">
					<center>
						<% @testimonies.each do |testimony| %>
							<p><%= testimony.text %></p>
							<%= image_tag(testimony.logo) %>
						<% end %>
					</center>
				</div>
				<div id=schemas>
					<a href="schema_enercoop"><%= image_tag("schema_enercoop5") %></a>
					<a href="schema_nucleaire"><%= image_tag("schema_nucleaire") %></a>
				</div>
				<div id="video">
					<iframe class="video" width="300" height="500" src="https://www.youtube.com/embed/xlwNxoGioWQ" frameborder="0" allow="autoplay" allowFullScreen></iframe>
				</div>
			</div>
			<div id="basdepage">
				<div id="vague"></div>
				<div id="texte">
					<center>
						En souscrivant chez Enercoop, vous assurerez un avenir meilleur pour vous, pour la plan&egrave;te mais aussi pour le reste du monde. En effet, Enercoop vous fournit de l'&eacute;lectricit&eacute; 100% renouvelable qu'elle ach&egrave;te directement chez les producteurs. Enercoop est une coop&eacute;rative qui est à l'&eacute;coute de ses clients et qui modifie r&eacute;guli&egrave;rement de petites choses à leur demande. Si vous d&eacute;cidez de devenir soci&eacute;taire, vous pourrez en plus participer à la vie active de l'entreprise, que vous soyez client, employ&eacute;, producteur ou m&ecirc;me aucun des trois.
					</center>
				</div>
				<div id="panneau_solaire"></div>
			</div>
	</body>
</html>