@media all and (max-width: 480px)
{
	body
	{
		color:blue
	}
}

body	
{
	font-family: 'Walter Turncoat', cursive;
	color:green;
	background-image: url("soleil.png");
	background-repeat: no-repeat;
}

#h1
{
	display: flex;
	justify-content: center;
}

#milieu
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}